table {
    border: 1px solid #c22424;
    font-style: American Typewriter, serif;
    tr {
      color: white;
      th {
        background-color: #fc3503;
        border: 1px solid #c22424;
      }
      td {
        background-color: #fc7b03;
        border: 1px solid #c22424;
      }
    }
  }